body{
    background-image: url(100x100.gif);
    color: blueviolet;
}
h1{
    background-color: midnightblue;
    color: whitesmoke;
}
div{
    position: absolute;
    left: 400px;
    background-color: violet;
    color: black;
    width: 400px;
    height: 200px;
    padding: 20px;
    border: saddlebrown 20px solid;
    margin: 5px;
    opacity: 0.6;
}